@import "./bootstrap_overrides.scss";
@import "./pages.scss";

/* Space out content a bit */
body, form, ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 120px;
  height: 120px;
  display: block;
  margin-top: -1em;
  background-image: url("/images/botlogo.png");
  background-size: 120px 120px;
  float: left;
}

// Use body for extra specificity
body {
  .btn-xl {
    padding: 13px 17px;
    font-size: 36px;
    line-height: 1.3333333;
    border-radius: 7px;
  }

  .btn-xxl {
    padding: 18px 22px;
    font-size: 46px;
    line-height: 1.3333333;
    border-radius: 9px;
  }

  .img-xs {
    height: 32px;
  }
  .img-md {
    height: 128px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.loading-spinner {
  height: 250px;
  margin: auto;
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing {
//     padding-right: 0;
//     padding-left: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
