<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Slack Coder</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">
      <% token = SlackCoder.Guardian.Plug.current_token(@conn) %>
      window.token = <%= raw if(token, do: inspect(token), else: "null") %>;
      <% current_user = SlackCoder.Guardian.Plug.current_resource(@conn) %>
      window.currentUser = <%= raw if(current_user, do: SlackCoder.UserView.render("user.json", user: current_user) |> Poison.encode!(), else: "null") %>;
      window.commitSha = <%= raw inspect git_commit() %>;
    </script>
  </head>

  <body>
    <div id="app"></div>
    <script src="<%= static_path(@conn, "/js/dependencies.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/App.js") %>"></script>
  </body>
</html>
