<div class="row">
  <div class="col-md-12">
    <div class="error-template text-center">
      <h1>Whops!</h1>
      <h2>500 That's broken</h2>
      <div class="error-details">
        Sorry, an error has occured, this for sure didn't work!
      </div>
    </div>
  </div>
</div>
