{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "babel-plugin-inline-import-graphql-ast"
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-inline-import-graphql-ast", "transform-react-jsx-source"]
    }
  }
}
