<table class="table table-striped">
  <tbody id="pull-requests">
    <%= for user <- Map.keys(@prs) do %>
      <%= for commit <- @prs[user] do %>
        <%= render "pull_request.html", commit: commit %>
      <% end %>
    <% end %>
  </tbody>
</table>
